.p1dv1{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom:10px;
    background-color: springgreen;
}

p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
  }