

<!--
<div>

  <header>
    <app-header></app-header>
  </header>

  <div class="sdNav col-2" style="float: left">
    <app-sidenav></app-sidenav>
  </div>
  <div class="pg col-10" style="float: right">
    <router-outlet></router-outlet>
  </div>

</div>
-->
<header>
  <app-header></app-header>
</header>





<!--class="container-fluid px-0 overflow-hidden"-->
<div class="container-fluid px-0 overflow-hidden"  >
<div class="row" *ngIf=" isLoggedIn() && !isCollapse()" >


  <div class="d-none d-sm-block col-lg-2 col-md-3 col-sm-2 min-vh-100 " style="background: #1b1c1b;">
    <app-sidenav ></app-sidenav>
  </div>
  <div class="pg col-lg-10 col-md-9 col-sm-10  col-xs-12 min-vh-100" >
    <router-outlet></router-outlet>
  </div>


</div>
</div>

<div class="container-fluid px-0 overflow-hidden"  >
<div class="row" *ngIf=" !isLoggedIn()  ||  isCollapse()">

  <div class="pg min-vh-100">
    <router-outlet></router-outlet>
  </div>
</div>
</div>

<footer style="margin-top: none;">
  <app-footer></app-footer>
</footer>