table {
    width: 100%;
}

.mat-row:hover>.mat-cell {
    background-color: lightgray;
}

.mat-row:nth-child(even) {
    background-color: WhiteSmoke;
}

.mat-row:nth-child(odd) {
    background-color: white;
}

.mat-header-cell {
    background-color: DarkSeaGreen;
    color: black;
    font-size: 20px;
    font-weight: bold;
}


.mat-cell {
    font-size: 16px;
}
 
.mat-paginator {

    font-size: 12px;
    font-weight: bold;
}