<head> 
    <link rel="stylesheet" href= 
"https://fonts.googleapis.com/icon?family=Material+Icons" /> 
</head> 

<div class="footer-dark" style="background: #2d3246;">
  <footer>
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-3 item">
                  <h3>Services</h3>
                  <ul>
                      <li><a href="#">Software Development</a></li>
                      <li><a href="#">IT Consulting</a></li>
                      <li><a href="#">Digital Marketing</a></li>
                      <li><a href="#">Customer Care Solutions</a></li>
                  </ul>
              </div>
              <div class="col-sm-6 col-md-3 item">
                  <h3>About</h3>
                  <ul>
                      <li><a href="#">Company</a></li>
                      <li><a href="#">Team</a></li>
                  </ul>
              </div>
            
              <div class="col-md-6 item text">
                  <h3>GreenShade (PVT)Ltd</h3>
                  
                  <p>We are a sri lankan based IT compnany . we design your web system , consult your business with IT background etc.  . come and join with us.</p>
              </div>
              
              <div class="col item social "><a  href="#"><mat-icon style="margin-right:7px;margin-top:2px;" >facebook</mat-icon></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><mat-icon style="margin-right:7px;margin-top:2px;" >language</mat-icon></a></div> 
          </div>
          <p class="copyright">Developed By GreenShade-Sri Lanka @2024</p>
      </div>
  </footer>
</div>