<div>
    <h2 class="text-center mt-2" style="font-weight: bold;"> Cart Checkout </h2>

</div>


<div class="p1dv1 col-11">


        <div class="row">
            <div class="col-md-6 col-s-12 table-responsive ">

                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Order Total</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">{{getOrderTotal()}}</label>
                        
                    </div>
                </div>

                <table mat-table [dataSource]="stockDetailsList1" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Item Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.itemPrice}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let element"> <input  [(ngModel)]="element.quantity" type="number" id="quantity" name="quantity" value="1" min="1" max="10"
                        onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57"> </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Total </th>
                      <td mat-cell *matCellDef="let element" style="text-align: right;"> {{calculateRowTotal(element.quantity,element.itemPrice)}} </td>
                    </ng-container>
            
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <table class="table">
                    <thead class="thead">
                        <tr>

                        </tr>

                    </thead>

                    <tbody class="tbody">
                        <tr>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td style="text-align: right;font-weight: bold;">Order Total  :  {{getOrderTotal()}}</td>
                        </tr>
                    </tbody>



                </table>
            
                  <mat-paginator [pageSizeOptions]="[5, 8]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
            </mat-paginator>

            </div>




            

            <!--
            <div class="col-md-6 col-s-12">

                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Total</th>

                        </tr>

                    </thead>

                    <tbody class="tbody">
                        <tr *ngFor="let product of stockDetailsList">
                            <td>{{product.productName}}</td>
                            <td>{{product.itemPrice}}</td>
                            <td><input  [(ngModel)]="product.quantity" type="number" id="quantity" name="quantity" value="1" min="1" max="5"></td>
                            <td>{{calculateRowTotal(product.quantity,product.itemPrice)}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>{{getOrderTotal()}}</td>
                        </tr>
                    </tbody>



                </table>


                <mat-paginator class="mt-2 mb-5" [length]="lnght"
                [pageSize]="8"
                [pageSizeOptions]="[2,4,8]"
                (page)="onPageChange($event)"
                aria-label="Select page">
                </mat-paginator>

            </div>
            -->


            <div class="col-md-6 col-s-12 mt-5">
                <form [formGroup]="form" (ngSubmit)="placeOrder()">
                <div class="row">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable d-flex justify-content-start align-items-center" >Delivary Name</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text" maxlength="100" name="delivaryName" formControlName="delivaryName"  [(ngModel)]="delivaryName" class="form-control" id="delivaryName" placeholder="eg : jake(Name)- Remura(place)/ Mother birthday ,03/24 (reason & date)"
                        [ngClass]="{ 'is-invalid': form.controls['delivaryName'].invalid && (form.controls['delivaryName'].dirty || form.controls['delivaryName'].touched) }">
                    </div>
                </div>
                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Delivary Address</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text" maxlength="100" name="delivaryAddress" formControlName="delivaryAddress"  [(ngModel)]="delivaryAddress" class="form-control" id="delivaryAddress" placeholder="Address Needs to be delivered"
                        [ngClass]="{ 'is-invalid': form.controls['delivaryAddress'].invalid && (form.controls['delivaryAddress'].dirty || form.controls['delivaryAddress'].touched) }">
                        <div *ngIf="form.controls['delivaryAddress'].invalid" class="invalid-feedback"> should contain at least 10 characters</div>
                    </div>
                </div>

                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Email</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="email" name="email" formControlName="email" maxlength="100"  [(ngModel)]="email" class="form-control" id="email" placeholder="enter the email"
                        [ngClass]="{ 'is-invalid': form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched) }"  >
                        
                    </div>
                    <div *ngIf="form.controls['email'].touched && form.controls['email'].invalid" class="alert alert-danger">
                        <div *ngIf="form.controls['email'].hasError('required')" class="error">Please enter email address</div>
                        <div *ngIf="form.controls['email'].hasError('email')">Please Enter valid email</div>
                    </div> 
                    
                </div>

                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Contact No</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text" maxlength="20" name="contactNo" formControlName="contactNo"  [(ngModel)]="contactNo" class="form-control" id="description" placeholder="description"
                        [ngClass]="{ 'is-invalid': form.controls['contactNo'].invalid && (form.controls['contactNo'].dirty || form.controls['contactNo'].touched) }" >
                        <div *ngIf="form.controls['contactNo'].invalid" class="invalid-feedback"> Please enter valid mobile no</div>
                    </div>
                </div>


                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Additional Note</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <!--<input type="text" maxlength="250" name="note" formControlName="note"  [(ngModel)]="note" class="form-control" id="note" placeholder="description">-->
                        <textarea class="form-control" placeholder="type the note here" name="note" formControlName="note"  id="note" placeholder="description"
                        maxlength="500" rows="4" [(ngModel)]="note"></textarea>
                    </div>
                </div>

                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        
                    </div>
                    <div class="form-group col-md-8 col-s-12 d-flex justify-content-end">
                        <button type="submit"   [disabled]="!form.valid" class="btn btn-success btn-sm">Place Order</button>
                    </div>
                </div>
                </form>
            </div>







        </div>



   



</div>
