<div>
    <h2 style="font-weight: bold;">View Product </h2>
</div>


<div class="p1dv1 col-11">
        <div class="row">
            <div class="col-md-6 col-s-12">
                <div class="row">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable d-flex justify-content-start align-items-center" >Delivary Name</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text"   [(ngModel)]="delivaryName" class="form-control" id="description" placeholder="eg : jake(Name) -  Mother birthday ,03/24 (reason & date)">
                    </div>
                </div>
                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Delivary Address</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text"   [(ngModel)]="delivaryAddress" class="form-control" id="description" placeholder="Address Needs to be delivered">
                    </div>
                </div>

                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Contact No</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text"   [(ngModel)]="contactNo" class="form-control" id="description" placeholder="description">
                    </div>
                </div>


                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Additional Note</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <input type="text"   [(ngModel)]="note" class="form-control" id="description" placeholder="description">
                    </div>
                </div>

            </div>

            <!--
            <div class="col-md-6 col-s-12">

                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Quantity</th>
                            <th>Total</th>

                        </tr>

                    </thead>

                    <tbody class="tbody">
                        <tr *ngFor="let product of stockDetailsList">
                            <td>{{product.productName}}</td>
                            <td>{{product.itemPrice}}</td>
                            <td><input  [(ngModel)]="product.quantity" type="number" id="quantity" name="quantity" value="1" min="1" max="5"></td>
                            <td>{{calculateRowTotal(product.quantity,product.itemPrice)}}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>{{getOrderTotal()}}</td>
                        </tr>
                    </tbody>



                </table>


                <mat-paginator class="mt-2 mb-5" [length]="lnght"
                [pageSize]="8"
                [pageSizeOptions]="[2,4,8]"
                (page)="onPageChange($event)"
                aria-label="Select page">
                </mat-paginator>

            </div>
            -->



            <div class="col-md-6 col-s-12">

                <div class="row formRaw">
                    <div class="form-group col-md-4 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">Order Total</label>
                    </div>
                    <div class="form-group col-md-8 col-s-12">
                        <label class="inputLable  d-flex justify-content-start align-items-center" for="inputDescription">{{getOrderTotal()}}</label>
                        
                    </div>
                </div>

                <table mat-table [dataSource]="stockDetailsList1" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Item Price </th>
                      <td mat-cell *matCellDef="let element"> {{element.itemPrice}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> Quantity </th>
                      <td mat-cell *matCellDef="let element"> <input  [(ngModel)]="element.quantity" type="number" id="quantity" name="quantity" value="1" min="1" max="5"> </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef style="text-align: right;"> Total </th>
                      <td mat-cell *matCellDef="let element" style="text-align: right;"> {{calculateRowTotal(element.quantity,element.itemPrice)}} </td>
                    </ng-container>
            
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <table class="table">
                    <thead class="thead">
                        <tr>

                        </tr>

                    </thead>

                    <tbody class="tbody">
                        <tr>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td style="text-align: right;font-weight: bold;">Order Total  :  {{getOrderTotal()}}</td>
                        </tr>
                    </tbody>



                </table>
            
                  <mat-paginator [pageSizeOptions]="[4, 5]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements">
            </mat-paginator>

            </div>






        </div>



            <div class="row mb-3" >
                 <div class=" col-lg-3 col-s-12"> 
                 </div>
                 <div class=" col-lg-3 col-s-12"></div>
                 <div class=" col-lg-3 col-s-12"></div>
                 <div class=" col-lg-3 col-s-12 d-flex justify-content-end" > 
                    <button class="btn-success" mat-icon-button color="primary" (click)="placeOrder()" >
                        Place Order
                     </button>
                 </div>
             </div>    




</div>
